body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #ccc;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 15px;
}

i {
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 15px;
  font-size: 1em;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #cf2e2e;
}

.logo-container img {
  max-width: 60%;
  height: auto;
  margin-top: 20px;
  margin-left: 35px;
}

.side-container {
  display: flex;
}

.icon {
  margin-right: 20px;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
}

.newsletter a,
.subscribe a {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 769px) {
  .mobile-menu-toggle {
    display: none;
  }
}
